@model HobiHobi.Core.Feeds.FeedsRiver
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="https://github.com/dodyg/hobi-hobi"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>
<br />
<br />
<h1>Apple River</h1>
<br />

<div style="font-size:16px;">
Source : <a href="@ViewBag.FeedUrl">@ViewBag.FeedUrl</a> | @ViewBag.CacheStatus
</div>


<div id="river">
    @ViewBag.Output
</div>
<br /><br />

<div id="loading_div">
    <img src="/images/ajax_spinner.gif" alt="wait" />
</div>

@section JsInline{
    <script type="text/ecmascript">
        $(function () {
            $('#loading_div').hide()  // hide it initially
                .ajaxStart(function () {
                    $(this).show();
                })
                .ajaxStop(function () {
                $(this).hide();});
            
            $.get('/home/feed?feedname=apple', function (data) {
                $('#river').html(data);
                arrange();
            });
        });

        function arrange() {
            $('#river').isotope({
                itemSelector: ".feed",
                layoutMode: 'masonry'
            });
        }
    </script>
}

@section CssInline{
    <style type="text/css">
        body {
            background-image: url('/images/retina_wood.png');
            background-repeat: repeat;
        }
        .feed {
            width: 300px;
            border:1px solid grey;
            padding:5px;
            margin:5px;
        }

            .feed h2 {
                font-size: 16px;
                line-height:18px;
                color:#808080;

            }

            .feed h3 {
                font-size: 14px;
                line-height: 16px;
            }

        .feed_item {
            padding:5px;
            margin-bottom:5px;
            background-color:#f7f1f1;
        }

        .feed_date, .last_updated {
            font-size:10px;
        }
        
        #loading_div {
            height: 400px;
            position: relative;
        }
        #loading_div img{
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -32px; /* -1 * image width / 2 */
            margin-top: -32px;  /* -1 * image height / 2 */
            display: block;     
        }
    </style>
}