@model HobiHobi.Core.Feeds.FeedsRiver
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p style="background-color:#808080;color:white;padding:15px;">
    @ViewBag.Error
</p>

@foreach (var x in Model.UpdatedFeeds.UpdatedFeed)
{
    @x.FeedTitle
}
<br /><br />
@ViewBag.Output