<form class="form-inline" action="/identity/authenticate" method="post">
  <input type="text" class="input-medium" placeholder="Email" name="Email" id="login_email">
  <input type="password" class="input-medium" placeholder="Password" name="Password" id="login_password">
  <label class="checkbox">
    <input type="checkbox" id="login_remember" name="RememberMe"> Remember me
  </label>
  <button type="submit" class="btn" id="login_submit">Sign in</button>
  <div id="login_message"></div>
</form>

<script type="text/javascript">
    $(function () {
        $('#login_submit').click(function () {
            var email = $('#login_email').val();
            var password = $('#login_password').val();

            if ($('#login_remember').is(':checked'))
                var remember = true;
            else
                var remember = false;

            if (email == "") {
                $('#login_message').html("Email is required");
                return false;
            }

            if (password == "") {
                $('#login_message').html("Password is required");
                return false;
            }

            return true;
        });
    });
</script>