
@{
    ViewBag.Title = "OPML Editor";
    Layout = "~/Views/Shared/_Opml.cshtml";
}

@section HeadInline{
		<script type="text/javascript" src="/scripts/jquery.jstree.js"></script>
		<script type="text/javascript" src="/scripts/jquery.hotkeys.js"></script>
        
		<link rel="stylesheet" type="text/css" media="all" href="/content/opmlEditor.css">
		<style>
			li[type=rss] a { background-color: orange !important; }
			li[type=blogpost] a { background-color: grey !important; }
			li[type=river] a { background-color: blue !important; }
			li[type=include] a { background-color: silver !important; }
		</style>
}

<h1>OPML</h1>
<a href="#" id="xml"><img src="/Images/xmlIcon2.gif" /></a>
<br /><br />
<div>
	<label>Title: <span id="title"></span></label>
	<label>Owner Name: <span id="ownerName"></span></label>
	<label>Onwer Email: <span id="ownerEmail"></span></label>
	<label>Owner Url: <span id="ownerId"></span></label>
</div>
<div id="opmlDocument" class="demo">
</div>

<script type="text/javascript">
	$(function () {
	    var id = document.URL.match(/\/([^\/]*)$/g);
	    $.getJSON('/opml/getdocument/' + id, { view: true }, function (data) {
	    	if (data == null)
	    		return alert("Document Inaccessable");
		    displayTree(data.body);
		    $('#title').text(data.title);
		    $('h1:first').html(data.title);
		    $('#ownerName').text(data.ownername);
		    $('#ownerEmail').text(data.owneremail);
		    $('#ownerId').text(data.ownerid);
		    $('#xml').attr('href', '/opml/xml/' + id);
		});

		function displayTree(treeData) {
		    $('#opmlDocument').jstree({
		        json_data: {
		            data: treeData
		        },
		        plugins: ["themes", "json_data", "ui"],
		        themes: {
		            theme: "default",
		            dots: false,
		            icons: false
		        }
		    });
		}
	});
</script>