@{
    Layout = null;
}

<!DOCTYPE html>
<html>
	<head>
		@*<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>*@
        <link href="/site/css/@HobiHobi.Web.MvcApplication.CommonCssTag" rel="stylesheet" type="text/css" />
        <script src="/site/js/@HobiHobi.Web.MvcApplication.CommonJsTag" type="text/javascript"></script>
		<script type="text/javascript" src="/scripts/jquery.jstree.js"></script>
		<script type="text/javascript" src="/scripts/jquery.hotkeys.js"></script>
        
		<link rel="stylesheet" type="text/css" media="all" href="/content/opmlEditor.css">
	<style>
		.type-rss { background-color: orange !important; }
		.type-blog { background-color: grey !important; }
		.type-river { background-color: blue !important; }
		.type-opml { background-color: silver !important; }
	</style>
	</head>
	<body>
        <div class="container">
		    <div id="demo1" class="demo">
		    </div>
		    <input type="button" value="Save" onclick="saveJson()" />
        </div>
        <div id="modal-attributes-dialog" class="modal hide fade">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Attributes</h3>
            </div>
            <div id="modal-body" class="modal-body">
                
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary">Close</a>
            </div>
        </div>
	</body>
	<script type="text/javascript">
	    jQuery.fn.removeAttributes = function() {
	        return this.each(function() {
	            var attribute = $.map(this.attributes, function(item) {
	                return item.name;
	            });
	            obj = $(this);
	            $.each(attribute, function(i, item) {
	                if(item != 'class' && item != 'id') obj.removeAttr(item);
	            });
	            obj.children('a').removeClass('type-rss type-blog type-river type-opml');
	        });
	    }
	    function getQueryStrings() {
	        var assoc = {};
	        var decode = function (s) { return decodeURIComponent(s.replace(/\+/g, " ")); };
	        var queryString = location.search.substring(1);
	        var keyValues = queryString.split('&');

	        for (var i in keyValues) {
	            var key = keyValues[i].split('=');
	            if (key.length > 1) {
	                assoc[decode(key[0])] = decode(key[1]);
	            }
	        }
	        return assoc;
	    }

	    function getOpmlId() {
	        var params = getQueryStrings();
	        var opmlId = params["id"];
	        return opmlId;
	    }

		$(function () {
		    
		    $.getJSON('/opml/getdocument/' + getOpmlId(), function (data) {
		        displayTree(data);
		    });

		    function displayTree(treeData) {
		        $('#demo1').jstree({
		            json_data: {
		                data: treeData
		            },
		            plugins: ["themes", "json_data", "ui", "crrm", "hotkeys", "dnd", "contextmenu"],
		            hotkeys: {
		                tab: function () {
		                    var selected = $.jstree._focused().get_selected();
		                    var prev = $(selected).prev();
		                    if (prev == null || prev == undefined)
		                        return false;
		                    $.jstree._focused().move_node($(selected), $(prev), 'last');
		                    return false;

		                },
		                'shift+tab': function () {
		                    var selected = $.jstree._focused().get_selected();
		                    if ($(selected).parents('ul').length < 2)
		                        return false;
		                    $.jstree._focused().move_node($(selected), $(selected).parent().parent(), 'after');
		                    return false;
		                },
		                del: function (obj) {
		                    if (confirm("Are you sure?"))
		                        this.remove();
		                    var children = $.jstree._focused()._get_children(-1);
		                    if (children.length == 0)
		                        $.jstree._focused().create('#demo1 ul', "after", { data: "Edit Here!!" }, null, false);
		                },
		                'return': function () {
		                    $.jstree._focused().create(null, "after", { data: "Edit Here!!" }, null, false);
		                }
		            },
		            themes: {
		                theme: "default",
		                dots: false,
		                icons: false
		            },
		            contextmenu: {
		                select_node: true,
		                items: function ($node) {
		                    return {
		                        type: {
		                            label: "Set Type",
		                            submenu: {
		                                rss: {
		                                    label: "RSS",
		                                    action: function (obj) {
		                                        var val = window.prompt("URL", "http://");
		                                        if (val != null)
		                                            $(obj).attr({ type: 'rss', url: val }).children('a').addClass('type-rss');
		                                    }
		                                },
		                                blogpost: {
		                                    label: "Blog Post",
		                                    action: function (obj) {
		                                        var val = window.prompt("URL", "http://");
		                                        if (val != null)
		                                            $(obj).attr({ type: 'blogpost', url: val }).children('a').addClass('type-blog');
		                                    }
		                                },
		                                river: {
		                                    label: "River",
		                                    action: function (obj) {
		                                        var val = window.prompt("URL", "http://");
		                                        if (val != null)
		                                            $(obj).attr({ type: 'river', url: val }).children('a').addClass('type-river');
		                                    }
		                                },
		                                include: {
		                                    label: "OPML",
		                                    action: function (obj) {
		                                        var val = window.prompt("URL", "http://");
		                                        if (val != null)
		                                            $(obj).attr({ type: 'include', url: val }).children('a').addClass('type-opml');
		                                    }
		                                }                           }
		                        },
		                        attribute: {
		                            label: "Add Attribute",
		                            action: function (obj) {
		                                var val = window.prompt("Enter attribute", "name:value");
		                                res = val.split(':');
		                                if (res.length < 2) {
		                                    alert('invalid value');
		                                    return;
		                                }
		                                if (res[0].toLowerCase() == 'class' || res[0].toLocaleLowerCase() == 'id') {
		                                    alert('invalid attribute name');
		                                    return;
		                                }
		                                $(obj).attr(res[0], res[1]);
		                            }
		                        },
		                        view: {
		                            label: "View Attributes",
		                            action: function (obj) {
		                                //alert($(obj).children().first().attributes().length);
		                                output = '';
		                                $(obj).each(function () {
		                                    output = jQuery.map(this.attributes, function (item) {
		                                        if (item.name == 'class' || item.name == 'id') return '';
		                                        return '<tr><td>' + item.name + '</td><td>' + item.value + '</td>' +
                                                    '<td><a href="#" onclick="removeAttr(\'' + item.name.trim() + '\', this)">remove</a>'
                                                    + '</td></tr>';
		                                    });
		                                });
		                                if (output == '') return;
		                                output = '<table>' + output.join('') + '</table>';
		                                $('#modal-body').empty().append(output);
		                                $('#modal-attributes-dialog').modal();
		                            }
		                        },
		                        clear: {
		                            label: "Clear Attribures",
		                            separator_before: true,
		                            action: function (obj) {
		                                if (confirm("Are you sure?")) {
		                                    $(obj).removeAttributes();
		                                }
		                            }
		                        }
		                    }
		                }
		            }
		        }).bind('create.jstree', function (event, data) {
		            $.jstree._focused().select_node($(data.rslt.obj), true);
		            $.jstree._focused().rename(data.rslt.obj);
		        }).bind('rename.jstree', function (event, data) {
		            $.jstree._focused().hover_node($(data.rslt.obj));
		        }).bind('hover_node.jstree', function (event, data) {
		            $.jstree._focused().select_node($(data.rslt.obj), true);
		        }).bind('dblclick.jstree', function (event) {
		            var node = $(event.target).closest('li');
		            //alert(node);
		            $.jstree._focused().rename(node.data('jstree'));
		        });
		    }
		});

		function saveJson() {
			var obj = JSON.stringify($.jstree._focused().get_json(-1, ['type', 'url']));

			$.ajax('/opml/putdocument/' + getOpmlId(), {
			    data: { data: obj },
			    type: 'POST',
			})
                .done(function (payload) {
                    alert('done');
                });
		}
		function removeAttr(name, elem) {
		    $($.jstree._focused().get_selected()).removeAttr(name.trim());
		    $(elem).parent().parent().remove();
		}
	</script>
</html>