@{
    Layout = null;
}

<!DOCTYPE html>
<html>
	<head>
		@*<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>*@
        <script src="scripts/jquery-1.8.0.min.js"></script>
		<script type="text/javascript" src="/scripts/jquery.jstree.js"></script>
		<script type="text/javascript" src="/scripts/jquery.hotkeys.js"></script>
        
		<link rel="stylesheet" type="text/css" media="all" href="/content/opmlEditor.css">
	<style>
		.type-rss { background-color: orange !important; }
		.type-blog { background-color: grey !important; }
		.type-river { background-color: blue !important; }
		.type-opml { background-color: silver !important; }
	</style>
	</head>
	<body>
		<div id="demo1" class="demo">
		</div>
		<input type="button" value="Save" onclick="saveJson()" />
	</body>
	<script type="text/javascript">
	    jQuery.fn.removeAttributes = function() {
	        return this.each(function() {
	            var attribute = $.map(this.attributes, function(item) {
	                return item.name;
	            });
	            obj = $(this);
	            $.each(attribute, function(i, item) {
	                if(item != 'class' && item != 'id') obj.removeAttr(item);
	            });
	            obj.removeClass('type-rss type-blog type-river type-opml');
	        });
	    }
	    function getQueryStrings() {
	        var assoc = {};
	        var decode = function (s) { return decodeURIComponent(s.replace(/\+/g, " ")); };
	        var queryString = location.search.substring(1);
	        var keyValues = queryString.split('&');

	        for (var i in keyValues) {
	            var key = keyValues[i].split('=');
	            if (key.length > 1) {
	                assoc[decode(key[0])] = decode(key[1]);
	            }
	        }
	        return assoc;
	    }

	    function getOpmlId() {
	        var params = getQueryStrings();
	        var opmlId = params["id"];
	        return opmlId;
	    }

		$(function () {
		    
		    $.getJSON('/opml/getdocument/' + getOpmlId(), function (data) {
		        displayTree(data);
		    });

		    function displayTree(treeData) {
		        $('#demo1').jstree({
		            json_data: {
		                data: treeData
		            },
		            plugins: ["themes", "json_data", "ui", "crrm", "hotkeys", "dnd", "contextmenu"],
		            hotkeys: {
		                tab: function () {
		                    var selected = $.jstree._focused().get_selected();
		                    var prev = $(selected).prev();
		                    if (prev == null || prev == undefined)
		                        return false;
		                    $.jstree._focused().move_node($(selected), $(prev), 'last');
		                    return false;

		                },
		                'shift+tab': function () {
		                    var selected = $.jstree._focused().get_selected();
		                    if ($(selected).parents('ul').length < 2)
		                        return false;
		                    $.jstree._focused().move_node($(selected), $(selected).parent().parent(), 'after');
		                    return false;
		                },
		                del: function () {
		                    if (confirm("Are you sure?"))
		                        this.remove();
		                },
		                'return': function () {
		                    $.jstree._focused().create(null, "after", { data: "Edit Here!!" }, null, false);
		                    //alert('ba');
		                }
		            },
		            themes: {
		                theme: "default",
		                dots: false,
		                icons: false
		            },
		            contextmenu: {
		                select_node: true,
		                items: function ($node) {
		                    return {
		                        rss: {
		                            label: "RSS",
		                            action: function (obj) {
		                                var val = window.prompt("URL", "http://");
		                                if (val != null)
		                                    $(obj).attr({ type: 'rss', url: val }).addClass('type-rss');
		                            }
		                        },
		                        blogpost: {
		                            label: "Blog Post",
		                            action: function (obj) {
		                                var val = window.prompt("URL", "http://");
		                                if (val != null)
		                                    $(obj).attr({ type: 'blogpost', url: val }).addClass('type-blog');
		                            }
		                        },
		                        river: {
		                            label: "River",
		                            action: function (obj) {
		                                var val = window.prompt("URL", "http://");
		                                if (val != null)
		                                    $(obj).attr({ type: 'river', url: val }).addClass('type-river');
		                            }
		                        },
		                        include: {
		                            label: "OPML",
		                            action: function (obj) {
		                                var val = window.prompt("URL", "http://");
		                                if (val != null)
		                                    $(obj).attr({ type: 'include', url: val }).addClass('type-opml');
		                            }
		                        },
		                        clear: {
		                            label: "Clear Attribures",
		                            seperator_before: true,
		                            action: function (obj) {
		                                if (confirm("Are you sure?")) {
		                                    $(obj).removeAttributes();
		                                }
		                            }
		                        }
		                    }
		                }
		            }
		        }).bind('create.jstree', function (event, data) {
		            $.jstree._focused().select_node($(data.rslt.obj), true);
		            $.jstree._focused().rename(data.rslt.obj);
		        }).bind('rename.jstree', function (event, data) {
		            $.jstree._focused().hover_node($(data.rslt.obj));
		        }).bind('hover_node.jstree', function (event, data) {
		            $.jstree._focused().select_node($(data.rslt.obj), true);
		        });
		    }
		});

		function saveJson() {
			var obj = JSON.stringify($.jstree._focused().get_json(-1, ['type', 'url']));

			$.ajax('/opml/putdocument/' + getOpmlId(), {
			    data: { data: obj },
			    type: 'POST',
			})
                .done(function (payload) {
                    alert('done');
                });
		}
	</script>
</html>