@model List<HobiHobi.Core.OpmlEditor.EditorDocument>

@{
    ViewBag.Title = "OPML Documents";
    Layout = "~/Views/Shared/_Opml.cshtml";
}


<h1>Latest OPMLs</h1>
<div id="list">
	@foreach(var opml in Model) {
		<span>
			@(opml.Title.IsNullOrWhiteSpace()? "No Title.." : opml.Title)
			<a href="/opml/html/@opml.Id">Details</a>
		</span>
	}
 </div>